.advertisement{
    .ad-l{
        position: relative;
        .h1{
            display:block;
        }
        .h2{
            position: absolute; 
                top: 170px;
                right:0;       
        }

    }
    .ad-r{
        margin: auto;
        padding: 0 60px 0;
        .ad-text{ padding-top: 45px;
            p{
                font-family: ShinGoPro-DeBold;
                font-size: 20px;
            }
        }
        .ad-text2{padding-top: 26px;
            padding-bottom: 29px;
        }
        
        button{
            @extend %button;
            img{padding: 2px 10px;}
            padding: 10px 25px;
        }
        button:hover{
                background-color: #578db9;
        }
    }
}
