#all-header{
    border-top: 4px solid $color-xanh;
    .header{
        .logo{padding: 15px;
            }
        .right-header{ margin-top: 35px!important; 
            .phone{    padding-left: 35px; }
            .menu-mb{
                background-color: #0e5b9a;
                display: none;
               } 
            margin: auto 0;
            p{    
                font-size: 10px;
             }
             .form-email{   
                @extend %form-email;
                padding-left: 18px;
             } 

            }
        }
.menu-v{
    font-size: 0;
    display: block;
    list-style-type: none;
        li{display: inline-block;
            padding-bottom: 10px;
            border-bottom:4px solid #ffffff;
            font-size: 19px;    
            a{ display: inline-block;
                padding: 0 38px;
                text-decoration: none;
                border-right: 1px solid #dddddd;        
                span{
                    color:#000000;
                    @extend %text1;
                }
                // .act{
                //     display: block;
                // }
                // .hid{
                //     display: none;
                // }
                p{
                    @extend %text2;
                }
            }
            // a:hover{
            //     .act{
            //         display: none;
            //     }
            //     .hid{
            //         display: block;
            //         letter-spacing: -1px;
            //     }
            // }
        }
        li:first-child a{
            border-left:1px solid #dddddd;
        }
        li:hover{
            border-bottom: 4px solid #dddddd;
        }
    }
    .hiddend{
        display: none;
    }
   
    .topnav{
        display: none;
    }

    .bergerIcon{
        display: none;
    }
    .bars::before{
        content: url('../images/images-pc/menu.png');
        position: absolute;
        top: 15px;
        right: 10px;
    }
    .fa-times::before{
       content: url('../images/images-pc/close-menu-mb.png');
       position: absolute;
       top: 15px;
       right: 15px;
    }
    .bergerIcon{
        display: none;
       .fa{
           width: 60px;
           height: 60px;
           position: absolute;
           cursor: pointer;
           background-color: #006699;
           top:15px;
           right: 15px;
           border-radius: 10px;
       }
   }
   .menuBar{
       .visible-xs{
           display: none;
       }
   }
   
   .nav-off{
    display: none;
}
.nav-on{
    display: block;
} 
}