.service{
    background-color: #eeeeee;
    .list-service{
        padding-bottom:70px;
        .item-service{
            background-image: url('../images/images-pc/index_pc.png');
            background-size: contain;
            width: 210px;
            height: 216px;
            background-repeat: no-repeat;
            padding: 7px;
            margin: auto;
            .item{
                text-align: center;
                height: 100%;
                display: flex;
                flex-direction: column;
                transition: all .5s;
                justify-content: center;
                p{
                    font-family: "ShinGoPro-DeBold";
                    color: #0f5c9b;
                    font-size: 20px;
                }
                .hide{
                    display: none;
                }
                .img-sv{
                    img{height: 60px;}                   
                }
            }
            .item:hover {
                background-color: #0f5c9b;
                color: #ffffff;
                img.show { display: none; }
                img.hide { display: inline-block; }
                p{color: #ffffff;}
                .btn{
                    background-color: #ffffff;
                    color: #0f5c9b;
                }
                .btn::before{
                    content: url('../images/images-pc/dot-hover.png')
                }
            }
        }
    }
}